.page {
    align-content: center;
}

.buttons {
    display: grid;
    padding: 10px, 10px;
    font-size: 12px;
    grid-gap: 10%;
    align-content: 50%;
    grid-auto-columns: 25%;
    grid-auto-rows: 25%;
}

#buttonOne {
    background-color:aliceblue;
    grid-area: 1 / 1 / span 2 / span 2;
}

#buttonTwo {
    background-color: greenyellow;
    grid-area: 1 / 2 / span 2 / span 2;
}
#buttonThree {
    background-color:red;
    grid-area: 1 / 3 / span 2 / span 2;
}
#buttonFour {
    background-color:orange;
    grid-area: 2 / 1 ;
}
#buttonFive {
    background-color: purple;
    grid-area: 2 / 2 ;

}
#buttonSix {
    background-color: pink;
    grid-area: 2 / 3 ;
}
